.normal-field label {
    
    font-weight: 700;
    font-size: 20px;
    display: block;
    float: left;
    margin-top: 20px;
    margin-bottom: 5px;
}

.normal-field input {
    
    width: 100%;
    max-height: 45px;
    height: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    padding: 10px;

}

.normal-field input::placeholder {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.normal-field select {
    width: 100%;
    max-height: 45px;
    height: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    margin-bottom: 25px;
}

.normal-field select option {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.normal-field span {
    font-size: 12px;
    padding: 3px;
    color: red;
    float: left;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
    display: block;
}

/* ----------------Style for Disable field---------------- */
.disable-field label {
    font-weight: 700;
    font-size: 20px;
    display: block;
    float: left;
    margin-bottom: 5px;
}

.disable-field input {
    background-color: #ccc;
    width: 100%;
    max-height: 45px;
    height: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 25px;
}

.disable-field input::placeholder {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* ----------------Style for Duo field---------------- */
.duo-field {
    display: flex;
    justify-content: center;
}

.duo-field label {
    font-weight: 700;
    font-size: 20px;
    display: block;
    float: left;
    margin-bottom: 5px;
    line-height: 40px;
}

.duo-field input {
    background-color: #ccc;
    max-width: 180px;
    width: 100%;
    max-height: 35px;
    height: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
}