.button-container button {
    width: 120px;
    height: 40px;
    background-color: initial;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    cursor: pointer;
    display: inline-block;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
}

.button-container .submit-btn {
    background-image: linear-gradient(-180deg, #00D775, #00BD68);
}

.button-container .submit-btn:hover {
    background: #00bd68;
}

.button-container .cancel-btn {
    background-image: linear-gradient(-180deg, #d70032, #bd0026);
}

.button-container .cancel-btn:hover {
    background: #bd0026;
}