.back-btn {
  position: absolute;
  margin: 1em;
  font-size: clamp(0.875rem, 2vw, 1rem);
  font-weight: 500;
  letter-spacing: .5px;
  color: #FFFF;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  outline: none;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #eaab4c;
}

.back-btn:hover,
.back-btn:focus {
  background-color: #f0cd82;
}