.modal-background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  width: 50%;
  max-height: 650px;
  height: 100%;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.title-close-btn {
  /* background-color: blue; */
  display: flex;
  justify-content: flex-end;
}

.title-close-btn button {
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.modal-container .modal-title {
  /* background-color: aqua; */
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.modal-container .modal-title h2 {
  font-size: 30px;
  font-weight: 700;
}

.modal-container .modal-body {
  background-color: yellow;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  overflow: hidden;
  overflow-y: scroll;
}

.modal-container .modal-body form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal-container .modal-footer {
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
}