#buildingCRUD-page-container {
    width: 100%;
    min-height: 100vh;
    background-color: #dde0e3;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buildingCRUD-page-container h1 {
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: clamp(1.25rem, 2vw, 2rem);
    color: #222831;
}

#buildingCRUD-page-container .card-group {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    align-items: flex-start;
    margin-bottom: 1em;
}



#buildingCRUD-page-container .card-group .card-container {
    border: none;
    border-radius: .25rem;
    overflow: hidden;
    background-color: #FFFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}

#buildingCRUD-page-container .card-group .card-container:hover {
    transform: scale(1.02);
    transition: transform .3s;
}

#buildingCRUD-page-container .card-group .card-container .card-header {
    margin-bottom: 0.5rem;
}

#buildingCRUD-page-container .card-group .card-container .card-header img {
    display: block;
    width: 100%;
    max-height: 300px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
}

#buildingCRUD-page-container .card-group .card-container .card-body {
    padding: 0 1em;
}

#buildingCRUD-page-container .card-group .card-container .card-body p {
    font-size: clamp(0.75rem, 2vw, 1.125rem);
    font-weight: 600;
}

.card-footer {
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.3s linear;
    padding: 0.5em 1em;
}

.card-footer.active {
    opacity: 1;
    max-height: 1000px;
}

.card-footer button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: clamp(0.8rem, 2vw, 1.3rem);
    margin: 0 0.5em;
}

.card-footer button .access-icon {
    color: #00D775;
}

.card-footer button .access-icon:hover {
    color: #00bd68;
}

.card-footer button .delete-icon {
    color: #d70032;
}

.card-footer button .delete-icon:hover {
    color: #bd0026;
}

/* ------------------------------
------------------------------
Adding Card Style
------------------------------
------------------------------ */

#buildingCRUD-page-container .card-group .adding-card-container {
    border: none;
    outline: none;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

#buildingCRUD-page-container .card-group .adding-card-container button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

#buildingCRUD-page-container .card-group .adding-card-container button i {
    color: #00D775;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: clamp(3rem, 10vw, 6rem);
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

#buildingCRUD-page-container .card-group .adding-card-container button p {
    color: #222831;
    font-size: clamp(1rem, 2vw, 1.3rem);
    font-weight: 600;
    transition: all 0.3s ease;
}

#buildingCRUD-page-container .card-group .adding-card-container button:hover i {
    color: #00bd68;
}

#buildingCRUD-page-container .card-group .adding-card-container button:hover p {
    color: #00bd68;
}

@media (max-width: 800px) {
    #buildingCRUD-page-container .card-group {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    #buildingCRUD-page-container .card-group {
        grid-template-columns: repeat(1, 1fr);
    }
}