.CARPARKCRUD-root {
	min-height: 80vh;
}

.CARPARKCRUD-title h1 {
	/* background-color: blueviolet; */
	text-align: center;
	font-size: 35px;
	font-weight: 700;
	margin-top: 40px;
	margin-bottom: 20px;
}

.PARKCARDS-container {
	/* background-color: aqua; */
	/* top right bottom left */
	padding: 40px 20px 20px 20px;
	width: 99%;
	margin: auto;
	flex-wrap: wrap;
	display: flex;
	/* justify-content: space-between; */
	/* justify-content: center; */
}

.card-item {
	padding: 15px 30px;
	width: 24%;
	text-align: center;
}

.card-item:hover {
	transform: scale(1.02);
	transition: transform .3s;
	cursor: pointer;
}

.inner-card-adder {
	border-radius: 10px;
	padding: 35px 20px;
	min-width: 225px;
	min-height: 315px;
	max-height: 370px;
	width: 100%;
	box-shadow: 5px 5px 10px 2px rgba(95, 95, 95, 0.24);
	background: linear-gradient(132deg, rgb(224, 235, 213) 0.00%, rgb(37, 148, 141) 100.00%);
}

.inner-card-parking {
	border-radius: 10px;
	padding: 5px 10px;
	min-width: 225px;
	min-height: 315px;
	max-height: 370px;
	width: 100%;
	box-shadow: 5px 5px 10px 2px rgba(95, 95, 95, 0.24);
	background: linear-gradient(132deg, rgb(65, 80, 95) 0.00%, rgb(36, 37, 38) 100.00%);
}

.action-btn-container {
	/* background-color: aqua; */
	display: flex;
	justify-content: flex-end;
}

.action-btn-container button {
	background: transparent;
	border: none;
	font-size: 30px;
	cursor: pointer;
	opacity: 0;
}

.card-item:hover button {
	opacity: 1;
}

.action-btn-container i {
	color: #d70032;
}

.action-btn-container i:hover {
	color: #bd0026;
}

.inner-card-parking img {
	max-width: 200px;
	width: 100%;
	max-height: 120px;
	height: 100%;
	margin-bottom: 10px;
	border-radius: 10px;
	align-items: center;
	transition: transform .2s;
}

.card-icon {
	/* background-color: pink; */
	display: flex;
	justify-content: center;
}

.card-icon i {
	/* background-color: brown; */
	width: 120px;
	height: 120px;
	border-radius: 50%;
	transition: transform .2s;
	font-size: 80px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-title {
	color: #fff;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 1px;
	white-space: pre-line;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media screen and (max-width: 1024px) {
	.card-item {
		width: 33%;
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.card-item {
		width: 50%;
	}

	.wrapper .header {
		font-size: 16px;
		height: 50px;
	}
}

@media screen and (max-width: 568px) {
	.card-item {
		width: 80%;
		margin: auto;
	}
}

@media screen and (max-width: 320px) {
	.card-item {
		width: 100%;
	}
}