/* Override divIcon default style */
.leaflet-div-icon {
    background: transparent;
    border: none;
    color: #f96d00;
}

.popup-marker {
    width: 300px;
}

.popup-marker img {
    width: 100%;
}